<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csm.manager.film.dao.FilmMapper">

    <!-- 查询用户数 -->
    <!--<select id="selectTotalRecouds" resultType="java.lang.Integer" parameterType="com.csm.product.vo.PageProduct">
        SELECT COUNT(*) FROM
        tb_product
        <where>
            <if test="search!='' &amp; search!=null &amp; search!='-1'">
                pname LIKE CONCAT('%', #{search}, '%')
            </if>
            <if test="headPrice!=-1">
                AND price BETWEEN #{headPrice} AND #{footPrice}
            </if>
            <if test="cid!=-1 &amp; cid!=0">
                AND cid=#{cid}
            </if>

        </where>
    </select>-->

    <!-- 分页查询  查询每页的用户-->
    <!--<select id="selectPageProduct" resultType="ProductDO" parameterType="com.csm.product.vo.PageProduct">
        select pid,pname,price,pimage,pdesc,pdate,cid,sid
        from tb_product
        <where>
            <if test="search!='' &amp; search!=null &amp; search!='-1' ">
                pname LIKE CONCAT('%', #{search}, '%')
            </if>
            <if test="headPrice!=-1">
                AND price BETWEEN #{headPrice} AND #{footPrice}
            </if>
            <if test="cid!=-1 &amp; cid!=0">
                AND cid=#{cid}
            </if>

        </where>
        ORDER BY pid desc limit #{offset},#{pageSize};
    </select>-->

    <!--查询所有商品-->
   <!-- <select id="selectAllFilm" resultType="com.qf.manager.pojo.po.ProductPo">
        select pid, pname,pmessage,pprice,pstatus,pdate
        from tb_product
        order by pid desc
    </select>-->


    <!--查询影片总数-->
    <select id="selectTotalFilm" resultType="java.lang.Integer">
        select count(1)
        from tb_film
        <include refid="whereFilm"/>
    </select>

    <!--分页查询影片-->
    <select id="selectByPageFilm" resultType="com.csm.manager.film.pojo.po.FilmPo">
        select fid,fname,fbeginDate,fendDate,fstatus,fmessage,fposter,mlid,mtid,fprice
        from tb_film
        <include refid="whereFilm"/>
        order by fid desc
        limit #{offSet},#{pageSize}
    </select>

    <!--编辑影片信息-->
    <update id="updateFilm">
        update tb_film SET
        fname=#{fname},fbeginDate=#{fbeginDate},fendDate=#{fendDate},fstatus=#{fstatus},
        fmessage=#{fmessage},fposter=#{fposter},mlid=#{mlid},mtid=#{mtid},fprice=#{fprice}
        where fid=#{fid}
    </update>

    <!--添加影片-->
    <insert id="insertFilm">
        insert into tb_film
        (fname,fbeginDate,fendDate,fstatus,fmessage,fposter,mlid,mtid,fprice)
        values (#{fname},#{fbeginDate},#{fendDate},#{fstatus},#{fmessage},#{fposter},#{mlid},#{mtid},#{fprice})
    </insert>

    <!--删除影片-->
    <delete id="deleteFilm">
        delete from tb_film
        <foreach collection="fidList" item="fidList" open="where fid in(" separator="," close=")">
            #{fidList}
        </foreach>
    </delete>

    <!--影片信息条件封装-->
    <sql id="whereFilm">
        <where>
            <if test="selectWord!='' and selectWord!=null ">
                fname LIKE CONCAT('%', #{selectWord}, '%')
                /*pname like '%${selectWord}%'*/
            </if>
        </where>
    </sql>

</mapper>




